@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Google+Sans:200,300,400,500,600,700,900");

:root {
  --font-primary: "Google Sans";
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: #f2f0f2;
  --foreground-blue: #1f2941;
  --background-start-rgb: #141b2d;
  --background-end-rgb: #010044;
  --dark-blue-200: #22375b;
  --white-200: #f7f5f2;
  --white-300: #fffbff;
  --background-start-rgb-100: #212a42;
  --search-box-border: #22375b;
  --border-radius: 12px;
  --background-color: #294c6c;
  --black-200: #162738;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-start-rgb);
  font-family: var(--font-primary), "Quicksand", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}
.line {
  width: 100%;
  height: 0;
  border: 1px solid #224261;
  display: inline-block;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
