.parent {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent > section {
  width: 30rem;
  height: 30rem;
  background-color: var(--foreground-rgb);
  border-radius: var(--border-radius);
  /* welcome info styles */
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
color: red;
    h2 {
      font-size: 32px;
      font-weight: normal;
      letter-spacing: 0em;
    }
    p {
      font-size: 12px;
      text-align: center;
    }
    img {
      height: 77px;
      width: 73px;
    }
  }
}

/* form container styles */
.form {
  display: flex;
  flex-direction: column;
  padding: 0 0.5em;
}

.form .inputField {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 3.5rem;
  background: #f3f3f3;
  border-radius: var(--border-radius);
  margin-top: 1.6rem;
  font-size: 0.8em;
}

.form .inputField small {
  background-color: #fff !important;
  width: 100%;
}

.form input {
  border: 0px solid;
  width: 100%;
  padding: 0.5rem;
  height: 100%;
  font-size: 0.8em;
}

.form .inputField .emailInput {
  padding-right: 0.5rem;
//   background: url("./assets/mdi_email.svg") no-repeat right;
  background-size: 30px;
}

.form .inputField .passwordInput {
  padding-right: 0.5rem;
//   background: url("./assets/material-symbols_lock.svg") no-repeat right;
  background-size: 30px;
}

.form input:focus {
  border: 2px solid red;
  outline: none !important;
  box-shadow: 0 0 10px #719ece;
}

/* butto styles */
.form button {
  height: 3.3rem;
  font-size: 0.7em;
  background: #076cca;
  border-radius: 5px;
  border: 0;
  text-transform: capitalize;
  color: var(--foreground-rgb);
  margin-top: 0.8rem;
  cursor: pointer;
}

.form button:hover {
  color: var(--black-200);
}

/* forgot password styles */
.forgotPassword {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  font-size: 0.5em;
  padding: 0.5em;
}

/* error message styles */
.inputField.success input {
  border: 2px solid;
  border-radius: var(--border-radius);
  border-color: green;
}

.inputField.error input {
  border: 2px solid;
  border-radius: var(--border-radius);
  border-color: red;
}

.inputField small {
  color: red;
  visibility: hidden;
  font-size: 0.5em;
}

.inputField.error small {
  visibility: visible;
}

.form p {
  display: flex;
  justify-content: center;
  font-size: 0.5em;
  text-align: center;
  padding: 2rem;
  a {
    padding-left: 5px;
  }
}
