.navContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin: 0 auto;
  width: 95%;
  max-width: 1280px;
  position: relative;

  & img {
    width: 60%;
  }

  & .navItems {
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 20px;
    padding: 0;

    & span {
      font-size: 1.5em;
      margin: 5px;
      padding-right: 10rem;
      text-transform: lowercase;
    }

    & .navItem {
      padding: 0 10px;
      font-size: 1.2rem;
      font-weight: bold;

      & a {
        text-decoration: none;
        &:hover,
        &.active {
          color: #c9a5a5;
        }
      }
    }
  }
}
